
.planCard {
  color: #FF7B00; /* Substitui 16px por uma medida escalável */
  box-shadow: 0px 0.5vmax 1.5vmax rgba(0, 0, 0, 0.2);
  width: 18vw;
  height: 55vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: transform 0.3s, box-shadow 0.3s;
  font-size: 15px;
  cursor: pointer;
  border-radius: 1vmax;

  &:hover {
    transform: translateY(-1vmax);
  }
}

.fundo{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    filter: blur(1px);
    border-radius: 1vmax;
    opacity: 0.95;
}

.assets{
    display: flex;
    align-items: center;
    gap: 0.2vw;
    span{
        font-size: 0.8vw;
        font-weight: 500;
    }
    color: #FF7B00;
}

.features{
    object-fit: contain;
    width: 80%;
    align-self: center;
    margin-bottom: 3vh;


}

.header{
    height: 100%; 
    padding: 1.5vw;

    .fibra{
        font-size: 0.8vw;
        font-weight: 600;
        text-shadow: 0px 0px 20px #000000;
    }

    h2{
        font-size: 1.8vw;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Albert";
        font-weight: 600;
        text-shadow: 0px 0px 20px #000000;
    }

    span{
        color: rgb(255, 255, 255);
        font-size: 1.4vw;
        font-weight: 500;
        text-shadow: 0px 0px 20px #000000;
    }

}

.option{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    span{

        font-size: 1vw;
    }
    color: #ffffff;
    margin-top: 1vh;
}

.options{
    margin-top: 2vh;
    margin-left: 1vw;
}

@media (max-width: 1024px) {
    .planCard {
        width: 80vw;
        height: 50vh;
    }
    .fundo{
        z-index: -1;
    }
    .header{
        padding: 3.5vmax;
        font-size: 3vmax;

        .fibra{
            font-size: 4vw;
            font-weight: 600;
            text-shadow: 0px 0px 20px #000000;
        }
    
        h2{
            font-size: 7vw;
            color: #ffffff;
            text-shadow: 0px 0px 20px #000000;
        }
    
        span{
            color: rgb(255, 255, 255);
            font-size: 5vw;
            font-weight: 600;
            text-shadow: 0px 0px 20px #000000;
        }
    }
    .button{
        width: 100%;
        border-radius: 0;
        margin: 0;
        font-size: 2vmax;
        padding: 2vh 4vw;
    }
}