.planCard {
  background: #fff;
  color: #333;
  border-radius: 1vmax; /* Substitui 16px por uma medida escalável */
  box-shadow: 0px 0.5vmax 1.5vmax rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 15vw;
  max-width: 20vmax; /* Limita a largura do card */
  height: 50vh; /* Define a altura fixa em proporção ao viewport */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-1vmax);
    box-shadow: 0px 0.75vmax 2vmax rgba(0, 0, 0, 0.25);
  }
}

.header {
  background: #333;
  padding: 1.8vmax;
  font-size: 1.2vmax;
  font-weight: bold;
  color: #fff;
  width: 100%;
}

.bandwidth {
  font-size: 1.5vmax;
  font-weight: bold;
  color: #333;
  margin-top: 2vh;
}

.price {
  font-size: 1.3vmax;
  color: #555;
  margin: 1vh 0;
}

.features {
  list-style: none;
  padding: 0;
  margin: 2vh 0;
  flex-grow: 1;
  width: 100%;
}

.feature {
  font-size: 1vmax;
  padding: 0.8vh 0;
  border-bottom: 0.1vmax solid #ddd;
  color: #555;
}

.button {
  width: fit-content;
  background: #333;
  color: #fff;
  font-size: 0.8vmax;
  padding: 1vh 2vw;
  margin: 2vh 0;
  border: none;
  border-radius: 3vmax;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background: #111;
  }
}
