.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    z-index: 1000;
  }

  
  .loading-text {
    color: #fff;
    margin:0;
    font-size: 4vmax;
  }

.loading-titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;

  p{
    margin: 0;
    font-size: 1.5vmax;
    color: #fff;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
}