.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    z-index: 1000;
  }

  

.loading-titles{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4vh;

}

.logo2{
    margin: 0px;
    width: 30vmax;
    height: 30vmax;
}


