@import '../../variables/colors';

.home{
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: hidden;
}

.backgroundFirstBox{
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 100%);
    backdrop-filter: blur(3px);
    height: 110vh;
}

.firstbox{
    width: fit-content;
    padding: 0px 7.6vw 0px 7.6vw;

}

h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

.FirstboxText{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 5.1vw;
    color: white;

    h1{
        font-size: 	11.1627906977vw;
        text-align: center;
        text-shadow: 2px 1px 5px rgba(0,0,0,0.39);
    }
    p{
        font-size: 4.1vw;
        text-align: center;
        text-shadow: 2px 1px 11px rgba(0,0,0,0.55);
        width: fit-content;
    }
}


.box{
    display: flex;
    padding: 50px 30px 50px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 50px;
}

.boxText{
    display: flex;
    flex-direction: column;

    h2{
        font-size: 9.3023255814vw;
        color: $color_primary;
    }
    p{
        line-height: 100%;
        font-size: 5.1vw;
        font-weight: 600;
        color: $color_text_second;
    }
}

.boxContent{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.2vh;
    padding: 2.4vw 1.3vh 2.4vw 1.3vh;
}

.cardText{
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3{
        font-size: 5.3vw;
        margin: 0px;
        color: $color_primary;
    }
    p{
        margin: 0px;
        font-size: 4.1vw;
    }
}

.videofundo{
  width: 100vw;
  height: 110vh;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}


@media (min-width:1024px) {
    .home{

        display: none;
    }
}

.imagefundo{
    position: absolute;
    z-index: 0;
    overflow: hidden;
    bottom: 0px;
}

.buttontitles{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    align-items: center;
    padding: 4vw 6vh;
    justify-content: center;
    text-transform: none;
    text-decoration: none;
    color: white;
    background-color: $color_primary;
    border-radius: 20px;

    span{
        color: white;
        font-weight: 600;
        text-decoration: solid;
        font-size: 5vw;
    }
}