.home {
  video {
      width: 100vw;
      height: 100vh;
      position: absolute;
      object-fit: cover;
      z-index: -1;

  }
  backdrop-filter: blur(5px);
  background-color: #0000005e;

}

.mainContent {
  position: relative;
  z-index: 0;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  align-items: flex-start;
  overflow: hidden;
  justify-content: center;
}

.contentWrapper {
  z-index: 0;
  padding: 5vh 0px 5vh 0px;
  display: flex;
  flex-direction: column; /* 240px convertido aproximadamente */
  align-items: center;
  gap: 2.5vh; /* 10px convertido */
  gap: 2.5vh; /* 10px convertido */
  justify-content: start;
  flex-wrap: wrap;
  margin: auto 0;/* 80px e 37px convertidos */
  width: 100vw; /* 973px convertido */
}

.sobreMenu{
  color: #FF7B00;
  padding: 0px;
  background-color: #ffffff;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-radius: 30px;

  li{
    font-size: 1vmax;
    padding: 1vh 1.8vw; /* 10px e 37px convertidos */
    cursor: pointer;
    -webkit-box-shadow: inset -1px 15px 78px -28px rgba(0,0,0,0.59);
    -moz-box-shadow: inset -1px 15px 78px -28px rgba(0,0,0,0.59);
    box-shadow: inset -1px 15px 78px -28px rgba(0, 0, 0, 0.205);
    text-align: center;
    width: 8vw;
  }
}



.textContent {
  display: flex; /* 240px convertido */
  flex-direction: row;
  align-items: center;
  font-family: Inter, sans-serif;
  color: #ffffff;
  font-weight: 700;
  justify-content: start;
  backdrop-filter: blur(30px);
  background-color: #00000057;
  padding: 2vw;
  border-radius: 10px;
  margin: auto 0;
  gap: 2vw;
}

.textContent2{
    display: flex; /* 240px convertido */
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    color: #ffffff;
    font-weight: 700;
    justify-content: start;
    margin: auto 0;
    gap: 2vw;
  }

.mainHeading {
  font-size: 2.5vw; /* 48px convertido */
  margin-top: 0; /* 20px convertido */
  margin-bottom: 0;
  font-family: "BDSans";
  letter-spacing: -5%;
}

.description {
  font-size: 1vw; /* 20px convertido */
  font-weight: 500;
  margin-bottom: 0px;
  text-align: justify;
  margin-top: 0;
  text-shadow: 0.1vw 0.1vw 0.4vw black; /* sombras convertidas */
  font-family: "Nunito";
  line-height: 120%;
}

.boxDescriptions{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxDescriptions{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxtext{
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.boxtext2{
    height: 100%;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.video{
  width: 10%;
  height: 10%;
  display: block;
}

.iconWrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  gap: 0.5vw; /* 10px convertido */
  justify-content: center;
  width: 5vw; /* 100px convertido */
}

.iconContainer {
  border-radius: 5vw; /* 100px convertido */
  background-color: #000;
  align-self: stretch;
  display: flex;
  min-height: 5vw; /* 100px convertido */
  width: 5vw; /* 100px convertido */
  align-items: center;
  gap: 0.5vw; /* 10px convertido */
  overflow: hidden;
  justify-content: start;
  height: 5vw; /* 100px convertido */
  padding: 2vh 1.7vw; /* 20px e 33px convertidos */
}

.titles{
  p{
    margin: 0;
    font-weight: 500;
    font-size: 1.4vw;
    font-family: "BDSans";
    letter-spacing: -5%;
  }
  margin-bottom: 2.5vh;
}

.pageContent{
    display: flex;
    height: 60vh;
}
.columncard{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    gap: 1vw;

}
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #00000057;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    gap: 20px;
    padding: 1vw 1.7vh;
}

.cardText{
    display: flex;
    flex-direction: column;
    gap: 5px;

    h3{
        margin: 0px;
        text-shadow: 0.0vw 0.0vw 0.2vw #fff70042; /* sombras convertidas */
        color: #e8e120;

    }
    p{
        margin: 0px;
        font-weight: 500;
    }
}