/* Caso seja feito alguma mudança para liberar a rolagem é necessario alterar o :root */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  height: 100vh;
  scroll-behavior: smooth;
}
body{
  margin: 0px;
}

.video-fundo{
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 1024px) {
  .video-fundo{
    display: none;
  }
}
