/* Caso seja feito alguma mudança para liberar a rolagem é necessario alterar o :root */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  height: 100vh;
}
body{
  margin: 0px;
}