/* Caso seja feito alguma mudança para liberar a rolagem é necessario alterar o :root */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0px;
  height: 100vh;
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  font-family: "Inter";
}

.video-fundo{
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 1024px) {
  .video-fundo{
    height: 110vh;
  }
}
@font-face {
    font-family: "Inter";   /*Can be any text*/
    src: local("Inter"),
      url("./fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  }
  

  @font-face {
    font-family: "Albert";   /*Can be any text*/
    src: local("Albert"),
      url("./fonts/AlbertSans-VariableFont_wght.ttf") format("truetype");

    
  }

  @font-face {
    font-family: "Rubik";   /*Can be any text*/
    src: local("Rubik"),
      url("./fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Nunito";   /*Can be any text*/
    src: local("Nunito"),
      url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
  }

  @font-face {
    font-family: "BDSans"; 
    font-weight: bold; 
    src: local("BDSans"),
      url("./fonts/BDSans-Bold.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans"; 
    font-weight: normal; 
    src: local("BDSans"),
      url("./fonts/BDSans-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans"; 
    font-weight: lighter; 
    src: local("BDSans"),
      url("./fonts/BDSans-Thin.otf") format("opentype");
  }

  @font-face {
    font-family: "BDSans"; 
    font-weight: bolder; 
    src: local("BDSans"),
      url("./fonts/BDSans-Black.otf") format("opentype");
  }

